<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>OSAAppletShowStartupScreen</key>
	<false/>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>org.calculix.cgx-glfw</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CalculiX GraphiX GLFW</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.23</string>
	<key>CFBundleVersion</key>
	<string>2.23</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CalculiX FRD Results File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>frd</string>
				<string>FRD</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.calculix.frd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CalculiX Batch File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fbl</string>
				<string>fbd</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.calculix.fbl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CalculiX Input File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inp</string>
				<string>INP</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.calculix.inp</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.calculix.frd</string>
			<key>UTTypeDescription</key>
			<string>CalculiX FRD Results File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>frd</string>
					<string>FRD</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.calculix.fbl</string>
			<key>UTTypeDescription</key>
			<string>CalculiX Batch File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fbl</string>
					<string>fbd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.calculix.inp</string>
			<key>UTTypeDescription</key>
			<string>CalculiX Input File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>inp</string>
					<string>INP</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
